<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do app</title>
</head>
<body>
    <h1>Todos</h1>
    <form action="" method="post">
        <input type="text" placeholder="Add title">
        <input type="text" placeholder="Add Description">
    </form>

    <div>
        <%=tasks%>
        <% for(var task of tasks){ %>
        <li><%= task.description %></li>
        }%>
    </div>
</body>
</html>